.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
}

/* modificadores */
.header-content--rigth{
    text-align: end;
    align-items: end;
}
.header-content--left{
    text-align: start;
    align-items: start;
}

/* Main page HTML tag header */
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.section--welcome{
    background:
    linear-gradient(
        to bottom, 
        rgba(11,9,10, 20%),
        rgba(11,9,10, 100%),
        rgba(11,9,10, 100%),
        rgba(11,9,10,100%)), 
        url("./../../assets/bg/lambo-wrap.jpg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    gap: 15rem;
    padding-bottom: 10%;
}
.welcome__titles-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 80%;
}


