.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 25rem;
    position: relative;
}

/* Modificadores */
.section--auto{
    height: auto;
}

#gallery{
    background:
    linear-gradient(
        to bottom, 
        rgba(11,9,10, 100%), 
        rgba(11,9,10, 10%),
        rgba(11,9,10,100%)), 
        url("./../../assets/bg/blue-car.jpg");
    background-size: cover;
    background-position: center;
}