.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 25rem;
    position: relative;
    text-align: center;
}

/* Modificadores */
.section--auto{
    height: auto;
}
.section--sliderComp{
    gap: 0rem;
}
#gallery{
    background:
    linear-gradient(
        to bottom, 
        rgba(102,7,8, 100%), 
        rgba(102,7,8, 10%),
        rgba(102,7,8,100%)), 
        url("./../../assets/bg/blue-car.jpg");
    background-size: cover;
    background-position: center;
}
/* responsive*/
@media screen and (min-width: 1279px){ 
    .section--column{
        flex-direction: row;
    }
}