.gallery{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    gap: 25rem;
    width: 100%;
    height: 45%;
}

.gallery__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    min-width: 100%;
    height: 100%;
}
.gallery__img{
    width: 90%;
}
.gallery__text{
    font-family: var(--tipo-principal);
    font-size: 15rem;
    color: var(--color-5);
    line-height: normal;
    text-transform: uppercase;
    margin-top: 15rem;

}
