.customWrap-flow{
    display: none;
    background-color: var(--color-1);
    padding-top: 25%;
}
.bussines-flow{
    display: none;
    padding-top: 10%;
}

.show{
    display: block;
}
.hide{
    display: none;
}

/* responsive*/
@media screen and (min-width: 1279px){ 
    .customWrap-flow{
        padding-top: 2%;
    }
}
