@media screen and (min-width: 0){

}
@media screen and (min-width: 834px){
    .section--welcome{
        background:
        linear-gradient(
            to bottom, 
            rgba(11,9,10, 20%), 
            rgba(11,9,10, 60%),
            rgba(11,9,10,100%)), 
            url("./../../assets/bg/lambo-wrap.jpg");
            background-position: center;
    }
    .social{
        margin: -5% -20% 0 0;
    }

}

@media screen and (min-width: 1280px){
    /* global settings*/
    .section{
        padding: 0 25rem;
    }
    .hamburger{
        display: none;
    }
    .navbar__menu-links{
        display: flex;
    }
    .form__step--one{
        flex-direction: row;
    }
    .social{
        margin: -10% -20% 0 0;
    }
    .social__links-wrap{
        width: 60%;
    }

    /*section form*/
    .section--row{
        flex-direction: row;
    }
    .form{
        height: 90%;
    }
    .form__label-step1{
        height: 30%;
        margin: 25rem 0;

    }
    .header-content{
        width: auto;
    }

    /*section services*/
    .header--second{
        order: 2;
    }
    .tabs{
        order: 1;
        width: 300rem;
        height: 65%;
        max-height: 275rem;
    }

    /* section brands*/
    .carrusel{
        min-width: 100vw;
    }

    /*section gallery*/
    .icon-scroll{
        display: none;
    }
    #gallery{
        background:
    linear-gradient(
        to bottom, 
        rgba(11,9,10, 100%), 
        rgba(11,9,10, 10%),
        rgba(11,9,10,100%)), 
        url("./../../assets/bg/porshe-garaje.jpg");
    background-size: cover;
    background-position: center;
    }
    .gallery{
        height: 70%;
    }
    .gallery__img{
        width: 60%;
    }
}
